@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#orientation-lock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2em;
  text-align: center;
  z-index: 1000;
  display: none;
}

@media screen and (orientation: portrait) {
  body {
    background-color: #f0f0f0;
  }
}

nav .logo {
  border-radius: 20px;
  width: auto;
  height: 80px;
  margin-left: 10px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgba(30, 30, 30, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
}

.account-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.5em;
}

.account-links .prof {
  padding: 0px 0px;
  width: fit-content;
  font-size: 1.5em;
  border-radius: 10px;
}

.account-links .prof .proff {
  padding: 10px 20px;
  border: none;
  margin-right: 15px;
  border-radius: 10px;
  background-color: #6ea4f5;
  cursor: pointer;
  font-size: large;
}

.account-links .prof .proff:hover {
  background-color: royalblue;
}

.links-container a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.account-links a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.links-container a:hover {
  color: royalblue;
}

.account-links a:hover {
  color: royalblue;
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: white;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  padding: 0 20px;
  display: none;
}

@media (max-width: 768px) {
  .links-container {
    position: fixed;
    width: 250px;
    background-color: #1e1e1e;
    top: 0;
    right: -100%;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    border-radius: 20px;
    transition: 0.75s ease-out;
  }

  .account-links .prof .proff {
    padding: 20px 15px;
  }

  .account-links .proff {
    position: fixed;
    z-index: 11;
    box-sizing: border-box;
    height: auto;
    top: 60%;
    right: -100%;
    transition: 0.75s ease-out;
  }

  .links-container a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ .account-links .proff {
    right: 0.1%;
  }

  nav .logo {
    padding-right: 135px;
    width: auto;
    height: 60px;
  }

  nav {
    user-select: none;
  }

  .content .search .service-input::placeholder {
    color: #fff;
    font-size: 0.6em;
  }

  .content .search .postcode-input::placeholder {
    color: #fff;
    font-size: 0.6em;
  }

  .content .one-text {
    user-select: none;
    color: #fff;
  }

  .content .one-sub {
    user-select: none;
  }

  .content p {
    user-select: none;
  }

  #orientation-lock {
    user-select: none;
  }
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.one {
  background: #1e1e1e;
}

.two {
  background: whitesmoke;
}

.three {
  background: ghostwhite;
  text-align: center;
  padding: 60px 20px;
}

.content-three {
  max-width: 100%;
  max-height: 100%;
  padding-top: 200px;
  padding-right: 300px;
  padding-bottom: 200px;
  color: #333;
  overflow: hidden;
  border-right-width: 160px;
  border-left-width: 160px;
  border-bottom-width: 0px;
  border-top-width: 190px;
}

.three h1 {
  font-size: 24px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 4px solid;
  padding-bottom: 15px;
}

.pe {
  float: left;
  width: calc(100% / 3 - 20px);
  overflow: hidden;
  padding: 50px 10px;
  transition: 0.4s;
  margin: 10px;
}

.pe:hover {
  background: #ddd;
}

.pe img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.p-name {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 1.2em;
}

.p-dev {
  font-style: italic;
  color: #3498db;
  font-size: 1.1em;
}

.p-sm {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.p-sm a {
  margin: 0 6px;
  display: inline-block;
  width: 35px;
  height: 35px;
  transition: 0.4s;
}

.p-sm a:hover {
  transform: scale(1.3);
}

.p-sm a i {
  color: #333;
  line-height: 35px;
}

@media screen and (max-width: 600px) {
  .pe {
    width: 100%;
  }
}

.content {
  margin: 0 auto;
  max-width: 620px;
  padding: 20px;
  width: 90%;
}

.content .one-text {
  user-select: none;
  color: #fff;
}

.content .one-sub {
  user-select: none;
}

.content p {
  user-select: none;
}

.content .search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.content .search ::placeholder {
  color: #fff;
}

.content h1 {
  font-size: 2.75em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.25px;
}

.content p.one-sub {
  color: #9da0b6;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

.content .service-input,
.content .postcode-input {
  flex: 1;
  min-width: 150px;
  margin-right: 5px;
  padding: 12px 10px;
  border-radius: 5px;
  border: none;
  background-color: #6c6c6c;
  color: #fff;
}

.content .service-input:last-child {
  margin-right: 0;
}

.content .search-button {
  padding: 12px 20px;
  background-color: #6ea4f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 0 0 auto;
}

.content .search-button:hover {
  background-color: #6ea4f5b4;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.popular-services {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #6c6c6c;
}

.another-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-us {
  margin-top: 50px;

  padding: 20px;

  border-radius: 10px;
}

.contact-us h1 {
  font-size: 24px;

  margin-bottom: 20px;
}

.contact-us p {
  margin: 5px 0;
}

.contact-us form {
  display: flex;

  flex-direction: column;
}

.contact-us form input,
.contact-us form textarea {
  margin-bottom: 10px;

  padding: 10px;

  border: 1px solid #ccc;

  border-radius: 5px;
}

.contact-us form button {
  padding: 10px;

  background-color: #007bff;

  color: white;

  border: none;

  border-radius: 5px;

  cursor: pointer;
}

.contact-us form button:hover {
  background-color: #0056b3;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: opacity 0.5s ease, transform 0.5s ease;
}